/* Shop.css */
.category {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  background-color: #f9f9f9;
}

h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

li.active {
  background-color: #f39c12;
  color: white;
}

li:hover {
  background-color: #f39c12;
  color: white;
}

/* Cart.css */
.cart-container {
  width: 80%;
  margin: 2rem auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.product-image {
  width: 100px;
  height: 200px;
  margin-right: 1rem;
  object-fit: contain;
}

.product-name {
  flex: 2;
}

.product-price {
  flex: 1;
}

.product-quantity {
  flex: 1;
  margin: 0 1rem;
}

.quantity-button {
  width: 40px;
}

.delete-button {
  width: 300px;
}
.cart-actions,
.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.checkout {
  display: block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
}

.checkout:hover {
  background-color: #0056b3;
}

/* Detail.css */
.product-detail {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-image {
  flex: 1;
}

.product-image img {
  height: 550px;
  width: 100%;
}

.product-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info p {
  margin: 0;
}

.product-options select {
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart {
  background-color: #ff9900;
  color: white;
}

.add-to-cart:hover {
  background-color: #cc7a00;
}

.buy-now {
  background-color: #ff4500;
  color: white;
}

.buy-now:hover {
  background-color: #cc3600;
}

/* Join.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.signup-container form {
  width: 100%;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.address-container {
  display: flex;
  justify-content: space-between;
}

.address-container input {
  margin-right: 10px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background-color: #0056b3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Login.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Main.css */
.col {
  text-align: center;
}

/* RecentlyViewedItem.css */
.recently-viewed {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  margin: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-details {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-actions {
  display: flex;
  flex-direction: column;
}

.product-actions button {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100px;
  height: 50px;
}

.product-actions .add-button:hover {
  background-color: #4caf50;
  color: white;
}

.product-actions .delete-button:hover {
  background-color: #ff5252;
  color: white;
}
