/* Common Styles */

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.col {
  text-align: center;
}

.input-group {
  margin-bottom: 30px;
}

/* Shop.css */
.menu-container h1,
.login-container h1,
.join-container h1 {
  text-align: center;
  margin: 4rem 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #ae8f69;
}

.category {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.category ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.category li {
  margin: 0 0.3rem;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #ae8f69;
}

.category li.active {
  background-color: #ae8f69;
  color: white;
}

.category li:hover {
  background-color: #ae8f69;
  color: white;
}

/* Cart.css */
.cart-container {
  width: 80%;
  margin: 2rem auto;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.product-image {
  width: 100px;
  height: 200px;
  margin-right: 1rem;
  object-fit: contain;
}

.product-name {
  flex: 2;
}

.product-price {
  flex: 1;
}

.product-quantity {
  flex: 1;
  margin: 0 1rem;
}

.quantity-button {
  width: 40px;
}

.delete-button {
  width: 300px;
}
.cart-actions,
.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
}

.checkout {
  display: block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
  width: 100%;
}

.checkout:hover {
  background-color: #0056b3;
}

/* Detail.css */
.product-detail {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-image {
  flex: 1;
}

.product-image img {
  height: 550px;
  width: 100%;
}

.product-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info p {
  margin: 0;
}

.product-option {
  margin-bottom: 20px;
}

.product-option select {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.selected-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 20px 0;
}

.selected-product .quantity-controls {
  display: flex;
  align-items: center;
}

.selected-product .quantity-controls button {
  color: black;
  background-color: #f7f7f7;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.selected-product .quantity-controls span {
  font-weight: bold;
}

.selected-product button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.total-amount {
  font-weight: bold;
  margin-top: 20px;
}

.add-to-cart {
  background-color: #ff9900;
  color: white;
}

.add-to-cart:hover {
  background-color: #cc7a00;
}

.buy-now {
  background-color: #ff4500;
  color: white;
}

.buy-now:hover {
  background-color: #cc3600;
}

/* Join.css */
.join-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
}

.join-form > .input-group {
  margin-bottom: 1rem;
}

.join-form label {
  display: block;
}

.join-form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.join-form input:focus {
  outline: none;
}

.join-form button {
  padding: 10px;
  margin: 10px 0;
  background-color: #ae8f69;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-form .address-btn {
  width: 150px;
  margin-left: auto;
}

.join-form .submit-btn {
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Login.css */
.login-form {
  max-width: 450px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px 15px;
  background-color: #ae8f69;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Main.css */

.main-container h1 {
  color: #ae8f69;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  padding: 3rem;
  margin-top: 2rem;
}

.main-container button {
  width: 5rem;
  color: #ae8f69;
  border-color: #ae8f69;
  font-weight: 600;
}

.main-container button:hover {
  opacity: 0.7;
  color: #ae8f69;
  border-color: #ae8f69;
}

.btn-container {
  text-align: center;
  padding: 2rem;
}

/* RecentlyViewedItem.css */
.recently-viewed {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product-card {
  display: flex;
  margin: 15px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-details {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-actions {
  display: flex;
  flex-direction: column;
}

.product-actions button {
  margin-left: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100px;
  height: 50px;
}

.product-actions .add-button:hover {
  background-color: #4caf50;
  color: white;
}

.product-actions .delete-button:hover {
  background-color: #ff5252;
  color: white;
}

/* Order.css */

.order-payment-container {
  padding: 20px;
}

.order-payment-container section {
  margin-bottom: 20px;
}

.order-payment-container h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.order-payment-buttons {
  display: flex;
  justify-content: space-between;
}
