/* Common Styles */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.col {
  text-align: center;
}

.input-group {
  margin-bottom: 30px;
}

.empty-text {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 3rem 0;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: var(--main-color);
}

/* Shop.css */
.category {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.category ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.category li {
  margin: 0 0.3rem;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  color: var(--main-color);
}

.category a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.category li.active,
.category li:hover {
  background-color: var(--main-color);
}
.category li.active a,
.category li:hover a {
  color: #fff;
}

/* Cart.css */
.cart-container {
  width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.cart-item,
.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
  justify-content: space-between;
}

.product-image {
  width: 100px;
  height: 200px;
  margin-right: 1rem;
  object-fit: contain;
}

.product-name {
  margin-right: 2rem;
  font-weight: 600;
}

.cart-item-right {
  display: flex;
  align-items: center;
}

.cart-item-left:hover {
  cursor: pointer;
}

.quantity-button {
  width: 40px;
}

.delete-button {
  width: 100px;
  margin-left: 6rem;
  color: var(--dark-main-color);
}

.delete-button:hover {
  cursor: pointer;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
}

.cart-actions button {
  padding: 20px 50px;
  font-size: 0.8rem;
  border-radius: 0;
  border: 1px solid var(--dark-main-color);
  color: var(--dark-main-color);
  background-color: #fff;
  margin-right: 1rem;
}

.cart-actions button:nth-child(2) {
  background-color: var(--dark-main-color);
  color: #fff;
}

.cart-summary {
  margin-top: 5rem;
  font-size: 1.1rem;
}

.cart-summary-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.cart-summary-container:nth-child(3) {
  border-top: 1px solid #e0e0e0;
  font-weight: 600;
  font-size: 1.2rem;
}

.checkout {
  display: block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  width: 100%;
  border-radius: 0;
  font-weight: 600;
}

.checkout:hover {
  background-color: var(--dark-main-color);
}

/* Detail.css */
.product-detail {
  display: flex;
  justify-content: center;
}

.product-detail .product-image {
  width: 50%;
  height: auto;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.product-detail img {
  width: 70%;
  height: auto;
}

.product-info {
  text-align: center;
  width: 50%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-info p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.product-info h1 {
  font-weight: 600;
  color: var(--black-color);
}

.product-info h1,
.product-info h2 {
  margin-bottom: 20px;
}

.product-option {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.product-option select {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin-left: 5rem;
  outline: none;
}

.selected-product,
.total-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--bright-main-color);
  font-size: 12px;
}

.quantity-button {
  background-color: var(--bright-main-color);
}

.selected-product .delete-btn {
  background-color: #fff;
  text-decoration: underline;
}

.selected-product .delete-btn:hover {
  opacity: 0.7;
}

.total-amount,
.selected-product-data {
  font-weight: 600;
}

.detail-btn {
  display: flex;
}

.add-to-cart {
  width: 50%;
  padding: 15px;
  border-radius: 0;
  background-color: var(--main-color);
  color: #fff;
}

.add-to-cart:hover {
  background-color: #97805d;
}

.buy-now {
  width: 50%;
  padding: 15px;
  border-radius: 0;
  background-color: #333;
  color: #fff;
}

.buy-now:hover {
  background-color: #222;
}

/* Join.css */
.join-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  width: 600px;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 1rem;
}

.join-form > .input-group {
  margin-bottom: 1rem;
}

.join-form label {
  display: block;
}

.join-form input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.join-form input:focus {
  outline: none;
}

.join-form button {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--main-color);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-form .address-btn {
  width: 120px;
  margin-top: 0;
  margin-left: auto;
  background-color: var(--bright-main-color);
}

.join-form .submit-btn {
  width: 100%;
  margin-top: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Login.css */
.login-form {
  max-width: 450px;
  margin: 50px auto;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 10px 15px;
  background-color: var(--main-color);
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Main.css */

.main-container h1 {
  color: var(--main-color);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  padding: 3rem;
  margin-top: 2rem;
}

.main-container button {
  width: 5rem;
  color: var(--main-color);
  border-color: var(--main-color);
  font-weight: 600;
}

.main-container button:hover {
  opacity: 0.7;
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-container {
  text-align: center;
  padding: 2rem;
}

/* RecentlyViewedItem.css */
.recently-viewed-container {
  width: 80%;
  margin: 2rem auto;
}

.product-card {
  display: flex;
  margin: 15px 0;
  border-bottom: 1px solid #ddd;
}
.product-card:hover {
  cursor: pointer;
}

.product-image {
  width: 150px;
  height: 150px;
}

.product-details {
  flex: 1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-actions button {
  margin-left: 10px;
  padding: 5px 15px;
  border: none;
  color: var(--dark-main-color);
  background-color: #fff;
  cursor: pointer;
  width: 100px;
  height: 50px;
  text-decoration: underline;
}

.product-actions button:hover {
  text-decoration: none;
}

/* Order.css */

.order-payment-container {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: "Arial", sans-serif;
}

.order-payment-container h2 {
  font-size: 1.4rem;
  font-weight: 600;
  border-bottom: 1px solid #ae8f69;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.user-info {
  width: 80%;
  max-width: 600px; /* 최대 너비 설정 */
}

.user-info label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #333;
}

.user-info input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none; /* 클릭했을 때 파란 테두리 제거 */
}

.order-payment-container section {
  margin-bottom: 2rem;
}

.order-payment-container p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
}

.order-payment-container select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  font-size: 1rem;
  outline: none;
}

.product-price {
  margin-right: 20rem;
}

.product-quantity {
  margin-right: 10rem;
}

.order-payment-buttons {
  display: flex;
  justify-content: space-between;
}

.order-payment-container button {
  background-color: #ae8f69;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.order-payment-container button:hover {
  background-color: #936551;
}

/* OrderComplete.css */

.order-complete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
}

.order-complete-container button {
  background-color: var(--main-color);
  color: white;
}

/* ProductList.css */
.product-list {
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.product-list h5 {
  margin-top: 1rem;
  font-weight: 600;
}

/* 768px screen width */
@media screen and (max-width: 768px) {
  /* Common Styles */
  h1 {
    margin: 2rem 0;
    font-size: 1.5rem;
  }

  /* Shop.css */
  .category {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .category li {
    margin: 0.3rem 0;
    padding: 0.5rem 1rem;
  }

  /* Cart.css */
  .cart-container {
    width: 90%;
  }

  /* Detail.css */
  .product-detail {
    flex-direction: column;
  }

  .product-detail .product-image,
  .product-info {
    width: 100%;
  }

  .product-info {
    padding: 20px 30px;
  }

  /* Join.css */
  .join-form {
    width: 90%;
  }

  /* Login.css */
  .login-form {
    width: 90%;
  }

  /* RecentlyViewedItem.css */
  .recently-viewed-container {
    width: 90%;
  }

  .product-card {
    flex-direction: column;
    align-items: center;
  }

  .product-image {
    margin-bottom: 10px;
  }

  /* Order.css */
  .order-payment-container {
    width: 90%;
  }

  .user-info {
    width: 100%;
  }
}
