.product-detail {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-image {
  flex: 1;
}

.product-image img {
  height: 550px;
  width: 100%;
}

.product-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-info p {
  margin: 0;
}

.product-options select {
  padding: 10px;
  margin-bottom: 20px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart {
  background-color: #ff9900;
  color: white;
}

.add-to-cart:hover {
  background-color: #cc7a00;
}

.buy-now {
  background-color: #ff4500;
  color: white;
}

.buy-now:hover {
  background-color: #cc3600;
}
