.swiper {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 38rem;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #000;
  font-size: 1.3rem !important;
}
.swiper-button-next:active,
.swiper-button-prev:active {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .swiper-slide img {
    height: 25rem;
  }
}
