.cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
}

.cart-modal-content button {
  margin: 10px;
}

.cart-modal-content button:nth-child(2) {
  background-color: #333;
  color: white;
}

.cart-modal-content button:nth-child(3) {
  background-color: #ae8f69;
  color: white;
}
