:root {
  --main-color: #ae8f69;
  --bright-main-color: #e1c08d;
  --dark-main-color: #6b553b;
  --black-color: #4c4c4c;
}

html,
body {
  height: 100%;
  margin: 0;
  color: #4c4c4c;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

.content-wrapper {
  flex: 1 0 auto;
}
